<footer>
        <div class="container">
            <div class="row">
                <article class="span12">
                    <p class="title">get in touch</p>
                    <p class="title1">Toll Free 866.892.1122 or Email <a href="mailto:sales@upgcable.com" class="emaillnk">sales@upgcable.com</a></p>

                    <p class="privacy">Copyright © 2014 Universal Power Group <br><a href="#">Privacy policy</a></p>
                </article>
            </div>
        </div>
    </footer>
