<div class="container">
  <div class="row">
    <article class="span12">
      <div class="searchBox">
        <div>
        </div>
      </div>
      <div class="logoBox clearfix">
        <h1 class="brand">
          <a href="/">
            <img src="http://www.upgcable.com/media/2220/logo.png" alt="">
          </a>
        </h1>
        <div class="navbar navbar_ clearfix">
          <div class="navbar-inner">
            <div class="clearfix">
              <div class="nav-collapse nav-collapse_ collapse">
                <ul class="nav sf-menu clearfix sf-js-enabled">
                  <li><a href="http://www.upgcable.com/about-us.aspx">About Us</a></li>
                  <li><a href="http://www.upgcable.com/products.aspx">Products</a></li>
                  <li><a href="http://www.upgcable.com/applications.aspx">Applications</a></li>
                  <li><a href="http://www.upgcable.com/cable-types.aspx">Cable Types</a></li>
                  <li><a href="http://www.upgcable.com/contact-us.aspx">Contact Us</a></li>
                </ul>
                <select class="select-menu" style="display: inline-block;">
                  <option value="#">Navigate to...</option>
                  <option value="http://www.upgcable.com/about-us.aspx">About Us</option>
                  <option value="http://www.upgcable.com/products.aspx">Products</option>
                  <option value="http://www.upgcable.com/applications.aspx">Applications</option>
                  <option value="http://www.upgcable.com/cable-types.aspx">Cable Types</option>
                  <option value="http://www.upgcable.com/contact-us.aspx">Contact Us</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
</div>
